<div id="buttons" class="relative text-sm">
    <button
            hx-get="/count/{{ count }}"
            hx-target="#buttons"
            hx-swap="outerHTML"
            class="bg-zinc-700/90 py-3 px-4 rounded-md hover:bg-zinc-700/50 active:bg-zinc-700/30 transition-colors duration-[50ms] min-w-28"
    >
        Counter: {{ count }}
    </button>
    {{#if (gt count 0)}}
        <button
            hx-get="/count/reset"
            hx-target="#buttons"
            hx-swap="outerHTML"
            class="text-zinc-300/50 hover:text-zinc-50/90 absolute -bottom-8 left-10"
        >
            Reset
        </button>
    {{/if}}
</div>